@charset "UTF-8";
/* reset */
* { margin: 0; padding: 0; }
body, html { width: 100%; font-family: 'Noto Sans KR', sans-serif; overflow-x:hidden; }
ul { list-style: none; }
button, input[type=button], input[type=submit], input[type=reset] { outline:0; border:0; }
a { text-decoration: none; } 
.wrap { width: 100%; clear:both; }

/* header */
.hd { width: 100%; height: 140px; position:relative;}
/* tnb */
.hd_wrap { width: 80%; margin: 0 auto; padding-top:20px;}
.logo {display:block; float:left; }
.topsearch {display: block; float:left; position:absolute; top:25px; left:40vw;}
.search_box {width:350px; height: 45px; text-indent: 10px; font-size: 16px;}
.search_box_input {padding-left:20px; vertical-align:middle; cursor:pointer; margin-left:-65px;}
.lang {display:block; float:right; margin-top: 20px;}
.lang li {float:left; margin-left:10px;}
/* gnb */

.gnb { clear:both; float:left; height:43px; width:100%; background-color: #ddd;
    text-align: center; line-height: 40px; margin-top:20px; }
.gnb:before { content:""; display:block; width: 100vw; height: 434px; 
    background-color:#fff; position:absolute; z-index:98; left: 0; top:150px; 
    display:none; }
.gnb:hover::before { display:block; }

.gnb li { float:left; width: 12.5%; }
.gnb .grade2 li a { display:block; width: 300px; color:black; text-align: center; line-height: 60px; }
.grade2 li {display: block; float:left; display:none;}
.grade3 li {display: block; float:right; display:none;}
#first {display:block;}




/* content */
.content {width: 100%; }



/* footer */
.ft {width: 100%; position: relative; border-top: solid gray 1px; }
.ft_wrap {width: 1200px; margin: 0 auto; position: relative; }
.ft_logo {position:absolute; top: 30px; left:50px;}
.ft_desc {margin: 0 150px; padding-top: 20px;}
.downmenu {margin: 0 auto;}
.downmenu li {float:left; }

.downmenu li a { margin-left:5px; border-right: solid black 1px; padding-right:5px; color:rgb(51, 49, 49);}
.copyright {float:left; line-height: 20px; font-size:10pt;margin-top:15px; color:rgb(66, 65, 65);}
.ft_wa {position: absolute; top:20px; right:20px;}
/* clear fix */
.fix {clear:both; }
.fix:after {content:""; width: 100%; display:block; clear:both; }